@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  letter-spacing: .5px;
}

@layer base {
  :root {
    --navHeight: 56px;
  }

}

@layer components {
  .text-default {
    @apply text-slate-700
  }
  .flex-center {
    @apply flex justify-center items-center
  }
  .absolute-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]
  }
  .fixed-controlbar {
    @apply fixed top-[var(--navHeight)] left-0 w-[100vw] z-50 bg-white shadow-md
  }
}

@keyframes loader-1 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loader-2 {
  0%   { transform: scale(0.2); left:   0%; }
  50%  { transform: scale(1.0); left:  50%; }
  100% { transform: scale(0.2); left: 100%; }
}